In [ ]:
#noraml distribution ---->
#from central tendancy ( mean, median , mode)---> left side and right side equal data points
#identification
#mean =0  std deviation =1

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("/content/covid_toy - covid_toy.csv")

In [ ]:
df.dropna()

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[90 rows x 6 columns]

In [ ]:
df=df.drop(columns=['city','cough'])

In [ ]:
df.head(2)

   age gender  fever has_covid
0   60   Male  103.0        No
1   27   Male  100.0       Yes

In [ ]:
df['gender']=df['gender'].map({"Male":0,"Female":1})
df['has_covid']=df['has_covid'].map({"No":0,"Yes":1})

In [ ]:
df.head()

   age  gender  fever  has_covid
0   60       0  103.0          0
1   27       0  100.0          1
2   42       0  101.0          0
3   31       1   98.0          0
4   65       1  101.0          0

In [ ]:
x=df.drop(columns=['has_covid'])
y=df['has_covid']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train , x_test, y_train, y_test =train_test_split(x,
                                            y,
                                            test_size=0.2,
                                            random_state=42)

In [ ]:
np.round(x_train.describe(),2)

         age  gender   fever
count  80.00   80.00   71.00
mean   42.91    0.59  101.00
std    24.47    0.50    2.05
min     5.00    0.00   98.00
25%    20.00    0.00   99.50
50%    42.00    1.00  101.00
75%    65.00    1.00  103.00
max    84.00    1.00  104.00

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc=StandardScaler()

2️⃣ What does “learns all the unique categories” mean?

When you call:

ohe.fit_transform(df)


The fit part does this:

It looks at your column (say gender) and finds all possible categories:

gender → Male, Female

cough → Yes, No

city → Jaipur, Delhi, Mumbai

It remembers these categories. This is important because when you later give new data to the model, it knows how to encode it properly.

Without learning the unique categories first, it wouldn’t know how many new columns to create or what 0/1 means.

Example:

Original column:

Gender :
Male
Female
Male

fit → learns unique categories: [Male, Female]

transform → converts into 0/1 columns:

Gender_Female :
0
1
0

In [ ]:
x_train_sc=sc.fit_transform(x_train)# fit = lrearn the parameter  and transform means apply on that data

In [ ]:
x_train_new = pd.DataFrame(x_train_sc,columns=x_train.columns)

In [ ]:
x_train_new.head()

        age    gender     fever
0  1.566141  0.837931  0.000000
1 -1.558945  0.837931 -0.491423
2 -0.983271  0.837931 -0.491423
3 -0.654315 -1.193416 -0.491423
4  1.237185  0.837931  0.982846

In [ ]:
np.round(x_train_new.describe(),2)

         age  gender  fever
count  80.00   80.00  71.00
mean   -0.00   -0.00  -0.00
std     1.01    1.01   1.01
min    -1.56   -1.19  -1.47
25%    -0.94   -1.19  -0.74
50%    -0.04    0.84   0.00
75%     0.91    0.84   0.98
max     1.69    0.84   1.47

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
tips=sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
tips=tips.drop(columns=['day',	'time',	'size'])

In [ ]:
tips['sex']=tips['sex'].map({"Female":1,"Male":0})
tips['smoker']=tips['smoker'].map({"Yes":1,"No":0})

In [ ]:
tips

     total_bill   tip sex smoker
0         16.99  1.01   1      0
1         10.34  1.66   0      0
2         21.01  3.50   0      0
3         23.68  3.31   0      0
4         24.59  3.61   1      0
..          ...   ...  ..    ...
239       29.03  5.92   0      0
240       27.18  2.00   1      1
241       22.67  2.00   0      1
242       17.82  1.75   0      0
243       18.78  3.00   1      0

[244 rows x 4 columns]

In [ ]:
x=tips.drop(columns=['total_bill'])
y=tips['total_bill']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train , x_test, y_train, y_test =train_test_split(x,
                                            y,
                                            test_size=0.2,
                                            random_state=42)

In [ ]:
np.round(x_train.describe(),2)

          tip
count  195.00
mean     3.09
std      1.43
min      1.00
25%      2.00
50%      3.00
75%      3.70
max     10.00

In [ ]:
x_train_sc=sc.fit_transform(x_train)

In [ ]:
x_train_new = pd.DataFrame(x_train_sc,columns=x_train.columns)

In [ ]:
np.round(x_train_new.describe(),2)

          tip     sex  smoker
count  195.00  195.00  195.00
mean    -0.00    0.00    0.00
std      1.00    1.00    1.00
min     -1.46   -0.73   -0.79
25%     -0.76   -0.73   -0.79
50%     -0.06   -0.73   -0.79
75%      0.43    1.37    1.26
max      4.85    1.37    1.26